.intro {
  p {
    font-size: 56px;
    color: var(--alpha-black);
    @media screen and (max-width: 960px) {
      font-size: 40px;
    }
    @media screen and (max-width: 520px) {
      font-size: 24px;
    }
  }
  span {
    color: var(--main-black);
    &.name {
      font-weight: 600;
    }
  }
}
.link__profile {
  display: block;
  line-height: 180%;
  padding: 10px 0 0;
  text-decoration: underline;
}
